@{
    Layout = null;
}

<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="BookRadar is the right place to find your next book. The app helps you borrow or buy books from other people in your area. Your next book might be closer than you think!">
    <title>BookRadar – Your next book might be closer than you think</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <meta name="description" content="">
    <!-- Plugin stylesheets -->
    <link rel="stylesheet" href="assets/css/jquery.bxslider.css">
    <link rel="stylesheet" href="assets/css/jquery.owl.carousel.css">
    <link rel="stylesheet" href="assets/css/jquery.owl.theme.css">
    <link rel="stylesheet" href="assets/css/jquery.owl.transitions.css">
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>
    <div class="inverse navbar">
        <div class="container">
            <div class="navbar-inner">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-logo">BookRadar</a>
                    <button aria-label="navbutton" class="navbar-nav-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div><!-- .navbar-header -->
                <nav id="navbar-nav" class="navbar-nav">
                    <ul class="social-likes">
                        <li class="facebook" title="Share link on Facebook">Share</li>
                    </ul>
                </nav><!-- .navbar-nav -->
            </div><!-- .navbar-inner -->
        </div><!-- .container -->
    </div><!-- .navbar -->
    <div class="content-wrapper">
        <div id="intro" class="background-image section">
            <div class="container">
                <div class="vertically-centered grid">
                    <div class="tablet-12 desktop-6">
                        <div class="intro-copy">
                            <h1>
                                Borrow and sell books
                                <small>
                                    Your next book might be<br class="visible-on-desktop">
                                    closer than you think.
                                </small>
                            </h1>
                            <div class="button-group">
                                <a class="large primary button" href="/Subscribe">Beta registration</a>
                                <a class="large hollow button" href="#content" data-smoothscroll>Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="desktop-6">
                        <img class="centered visible-on-desktop" src="https://i.imgur.com/ta3mU8n.png" alt="Showcase image">
                    </div>
                </div><!-- .grid -->
            </div><!-- .container -->
        </div><!-- .section -->
        <div id="content" class="content">
            <div class="container">
                <div class="large margin">
                    <h1 class="section-title">
                        Packed with amazing features
                        <small>
                            BookRadar makes borrowing, buying and selling book<br class="hidden-on-phones">
                            easier than before.
                        </small>
                    </h1>
                </div>
                <div class="large margin">
                    <div class="vertically-centered grid">
                        <div class="tablet-7">
                            <img class="centered showcase-image hidden-on-phones" src="https://i.imgur.com/brAwv7Z.png" alt="Showcase image">
                        </div>
                        <div class="tablet-5">
                            <div class="description grid">
                                <div class="description object">
                                    <h4>Add your own books</h4>
                                    <p>Before requesting books from other people, add your own old books that your are willing to borrow or sell.</p>
                                </div>
                                <div class="description object">
                                    <h4>Find books nearby</h4>
                                    <p>Once you added a book you can start searching for other people's books.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .large margin -->
                <div class="large margin">
                    <div class="vertically-centered grid">
                        <div class="tablet-5">
                            <div class="description grid">
                                <div class="description object">
                                    <h4>Chat with the other person</h4>
                                    <p>Once a book request has been made, you can chat with the other person about borrowing, exchanging or selling the book.</p>
                                </div>
                                <div class="description object">
                                    <h4>Seamless experience</h4>
                                    <p>Once you meet, the owner generates a code on his phone that the other person can scan and get the book.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tablet-7">
                            <img class="centered showcase-image hidden-on-phones" src="https://i.imgur.com/xAS0j09.png" alt="Showcase image">
                        </div>
                    </div><!-- .grid -->
                </div><!-- .large margin -->
            </div><!-- .container -->
            <div id="personality" class="background-image section">
                <div class="container">
                    <div class="large margin">
                        <h1 class="section-title">
                            Get the books you want
                            <small>
                                Remember to check daily<br class="hidden-on-phones">
                                the newly added books.
                            </small>
                        </h1>
                    </div>
                    <div class="showcase-slider">
                        <img class="centered" src="https://i.imgur.com/XLTXtQQ.png" alt="Showcase image" data-scroll-reveal="enter bottom and move 100px">
                        <img class="centered" src="https://i.imgur.com/Wgn3KHO.png" alt="Showcase image" data-scroll-reveal="wait 0.2s, then enter bottom and move 100px">
                        <img class="centered" src="https://i.imgur.com/Vg9K8xX.png" alt="Showcase image" data-scroll-reveal="wait 0.4s, then enter bottom and move 100px">
                        <img class="centered" src="https://i.imgur.com/HaKZrle.png" alt="Showcase image">
                        <img class="centered" src="https://i.imgur.com/bYYqtVB.png" alt="Showcase image">
                        <img class="centered" src="https://i.imgur.com/KLiTWnq.png" alt="Showcase image">
                    </div><!-- .showcase-slider -->
                </div><!-- .container -->
            </div><!-- .section -->
            <div class="section">
                <div class="container">
                    <div class="large margin">
                        <h1 class="section-title">
                            Plenty of features!
                            <small>
                                There are plenty of ways to keep in touch<br class="hidden-on-phones">
                                with the community.
                            </small>
                        </h1>
                    </div>
                    <div class="large margin">
                        <div class="description grid">
                            <div class="tablet-6 desktop-4">
                                <div class="description object">
                                    <h5>Easy interaction</h5>
                                    <p>Once a book request is made it's very easy to interact with the requester, through the integrated chat.</p>
                                </div>
                            </div>
                            <div class="tablet-6 desktop-4">
                                <div class="description object">
                                    <h5>Returning the books</h5>
                                    <p>Returning a borrowed book is just as easy as borrowing it. Just scan the code and you are all set.</p>
                                </div>
                            </div>
                            <div class="tablet-6 desktop-4">
                                <div class="description object">
                                    <h5>Rate the books</h5>
                                    <p>Once you finished reading the book, you can review them so others can make an idea about the book.</p>
                                </div>
                            </div>
                            <div class="tablet-6 desktop-4">
                                <div class="description object">
                                    <h5>Rate the people</h5>
                                    <p>Once the borrower has returned the book, you can rate how fast they returned it and how careful they have been with the book. This way, everyone can borrow the books to the people they trust.</a>.</p>
                                </div>
                            </div>
                            <div class="tablet-6 desktop-4">
                                <div class="description object">
                                    <h5>Exchange books</h5>
                                    <p>If you prefer to exchange the books instead of borrowing or selling them, the app makes it easy, too.</p>
                                </div>
                            </div>
                            <div class="tablet-6 desktop-4">
                                <div class="description object">
                                    <h5>Ask for extra time</h5>
                                    <p>Once you borrow a book, the owner can set a deadline to return it. The app will remind you one day before that deadline is reached. But if you are not done with the book yet, you can ask him for extra time through the app.</p>
                                </div>
                            </div>
                        </div><!-- .grid -->
                    </div><!-- .large margin -->
                </div><!-- .container -->
            </div><!-- .section -->
            <!--<div class="section">
                <div class="container">

                    <hr>

                    <div class="large margin">
                        <div class="testimonials-slider">

                            <blockquote class="testimonial">
                                <p>
                                    Went through dozens of templates before discovering<br class="visible-on-desktop">
                                    Lancelot. So useful and easy to use! Love it!
                                </p>
                                <footer>
                                    <cite>
                                        <strong>Max Parker</strong> on the App Store
                                    </cite>
                                </footer>
                            </blockquote>

                            <blockquote class="testimonial">
                                <p>Solid work. Minimal, functional, beautiful. <br class="visible-on-desktop">And really easy to use. Five stars.</p>
                                <footer>
                                    <cite>
                                        <strong>Elliot Wilkinson</strong> on the App Store
                                    </cite>
                                </footer>
                            </blockquote>

                        </div>
                    </div>

                </div>
            </div>-->
            <div class="footer">
                <div class="container">
                    <hr>
                    <div class="vertically-centered justified grid">
                        <div class="tiny margin">
                            © 2019 BookRadar
                        </div>
                        <div class="tiny margin">
                            <a aria-label="Like us on Facebook!" href="https://www.facebook.com/bookradarapp" class="icon-social-facebook"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact form -->
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.1.min.js"></script>
    <!-- Scripts -->
    <script src="assets/js/jquery.bxslider.min.js"></script>
    <script src="assets/js/jquery.owl.carousel.min.js"></script>
    <script src="assets/js/jquery.social-likes.min.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
